type akmd, domain;
type akmd_exec, exec_type, file_type;
init_daemon_domain(akmd)

type_transition akmd system_data_file:file sensors_data_file;

allow akmd system_data_file:dir { add_name write };
allow akmd sensors_data_file:file create_file_perms;
allow akmd sensors_device:chr_file { open read write ioctl };
