type akmd, domain;
type akmd_exec, exec_type, file_type;
init_daemon_domain(akmd)

allow akmd sensors_data_file:file { getattr setattr open read write create };
allow akmd sensors_device:chr_file { open read write ioctl };
allow akmd system_data_file:dir { add_name write };
type_transition akmd system_data_file:file sensors_data_file;
