type mpdecision_socket, file_type;
type debuggerd_socket, file_type;
type qmuxd_socket, file_type;
type sensors_socket, file_type;
type camera_socket, file_type;

type kickstart_data_file, file_type, data_file_type;
type sensors_data_file, file_type, data_file_type;
type camera_data_file, file_type, data_file_type;

# Default type for anything under /firmware
type radio_efs_file, fs_type;
allow fs_type radio_efs_file:filesystem associate;

allow radio_efs_file labeledfs:filesystem associate;
allow radio_efs_file rootfs:filesystem associate;

# Persist firmware types
type persist_file, file_type;
type persist_bluetooth_file, file_type;
type persist_drm_file, file_type;
type persist_sensors_file, file_type;
type persist_wifi_file, file_type;

# Init shell scripts
type init_shell_script, fs_type;
