allow mdm_helper cgroup:dir { create add_name };
allow mdm_helper efs_data_file:lnk_file read;
allow mdm_helper firmware_file:file read;
allow mdm_helper init:unix_stream_socket { connectto read write };
allow mdm_helper mdm_helper_tmpfs:file create_file_perms;
allow mdm_helper property_socket:sock_file write;
allow mdm_helper modem_efs_partition_device:blk_file rw_file_perms;
allow mdm_helper radio_device:chr_file rw_file_perms;
allow mdm_helper shell_exec:file { rx_file_perms entrypoint };
allow mdm_helper sysfs_wake_lock:file { read write };
allow mdm_helper tmpfs:dir { create rw_dir_perms };
