allow mdm_helper cgroup:dir { create add_name };
allow mdm_helper default_prop:property_service set;
allow mdm_helper efs_data_file:lnk_file read;
allow mdm_helper firmware_file:file read;
allow mdm_helper init:unix_stream_socket { connectto read write };
allow mdm_helper mdm_helper_tmpfs:file { getattr setattr open read write create unlink };
allow mdm_helper modem_efs_partition_device:blk_file { getattr open read write };
allow mdm_helper property_socket:sock_file write;
allow mdm_helper radio_device:chr_file { getattr open read write ioctl };
allow mdm_helper shell_exec:file { execute entrypoint };
allow mdm_helper sysfs_wake_lock:file { read write };
allow mdm_helper tmpfs:dir { write add_name remove_name };
