allow mediaserver self:netlink_kobject_uevent_socket create_socket_perms;
allow mediaserver sensorservice_service:service_manager find;
allow mediaserver system_server:unix_stream_socket rw_socket_perms;
binder_call(mediaserver, system_server);
