allow mediaserver camera_prop:property_service set;

# Unsure what mediaserver is reaching out to here
allow mediaserver self:netlink_kobject_uevent_socket create_socket_perms;

# Unsure what mediaserver is reaching out to here
allow mediaserver system_server:binder { call transfer };
allow mediaserver system_server:unix_stream_socket { read write };
allow system_server mediaserver:binder { call transfer };
binder_use(mediaserver);
