# restorecon processes and scripts
type restorecon, domain;
type restorecon_exec, exec_type, file_type;

allow restorecon adreno_data_file:file { getattr };
allow restorecon adreno_data_file:filesystem { associate };
